body{
    background: linear-gradient(to right, #e96443, #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Baloo 2', cursive;

 }
 .container{
     width: 100%;
    
 }
 .packages{
   
    margin: 20px;
    
    width: 300px;
    width: 300px;
    height: 100%;
    background-color: #EBEDF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    flex-wrap: wrap;
}

.list li{
    font-size: 20px;
    list-style: none;
    border-bottom:1px solid #B3D2F5;
    padding-inline-start: 0;
    border-width: 1px ;
    padding: 10px;
   
   }
.first {
    margin-top: 40px;
    border-top:1px solid #B3D2F5;
}
   .list {
       width: 80%;
   }
  
   ol,
ul {
    padding: 0;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
 
}
input, label{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }

  .button {
    background: #76B3FA;
    border-radius: 100px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
    font-size: 1.45em;
    margin: 15px 15px;
    
  }
  .button:hover{
    background:#5DA2F0;
   
}
.button:active{
    background:#3F8CE3;
   

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B3D2F5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .package-conatainer{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
 }

 
